In [1]:
# Add the Pandas dependency.
import pandas as pd
from sqlalchemy import create_engine
from config import db_password
import time
import psycopg2
import numpy as np

In [8]:
gender_data_to_load = "./Cases_by_Gender.csv"
covid_usa_to_load = "./covid19_united_states.csv"
race_ethnicity_to_load = "./Race_and_Ethnicity.csv"

In [9]:
gender_data_df = pd.read_csv(gender_data_to_load)
covid_usa_df = pd.read_csv(covid_usa_to_load)
race_ethnicity_df = pd.read_csv(race_ethnicity_to_load)

In [10]:
gender_data_df

    State full state                      sex 27-Nov-21
0      Alabama    AL                   Women        NaN
1      Alabama    AL                     Men        NaN
2      Alabama    AL    Number of Cases (Men)       NaN
3      Alabama    AL  Number of Cases (Women)       NaN
4       Alaska    AK                   Women         49
..         ...   ...                      ...       ...
207  Wisconsin    WI  Number of Cases (Women)   445,490
208    Wyoming    WY                   Women         40
209    Wyoming    WY                     Men         38
210    Wyoming    WY    Number of Cases (Men)    41,536
211    Wyoming    WY  Number of Cases (Women)    43,651

[212 rows x 4 columns]

In [11]:
covid_usa_df.head(10)

,state full,state,Total Doses Delivered,Doses Delivered per 100K,18+ Doses Delivered per 100K,Total Doses Administered by State where Administered,Doses Administered per 100k by State where Administered,18+ Doses Administered by State where Administered,18+ Doses Administered per 100K by State where Administered,People with at least One Dose by State of Residence,...,Percent People Primary Moderna Booster J&J,Percent People Primary Moderna Booster Other,Percent People Primary J&J Booster Pfizer,Percent People Primary J&J Booster Moderna,Percent People Primary J&J Booster J&J,Percent People Primary J&J Booster Other,Percent People Primary Other Booster Pfizer,Percent People Primary Other Booster Moderna,Percent People Primary Other Booster J&J,Percent People Primary Other Booster Uknown
0,United States,NaN,696801055,209874.0,269806.0,557644629,167961.0,504556970,195368.0,254750626,...,0.1,0.0,34.4,41.3,24.3,0.0,51.5,42.4,0.4,5.7
1,Alaska,AK,1464865,200243.0,265585.0,1108025,151464.0,994027,180220.0,504539,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alabama,AL,9344040,190571.0,244937.0,6136613,125156.0,5729972,150201.0,3045967,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,AR,5921480,196218.0,255495.0,4115448,136372.0,3754948,162015.0,1991116,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,American Samoa,NaN,110410,232972.0,352354.0,98196,207200.0,72731,232108.0,44140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Arizona,AZ,14211920,195253.0,252052.0,11656237,160141.0,10511057,186416.0,5232140,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Bureau of Prisons,NaN,336130,NaN,NaN,308812,NaN,308810,NaN,143260,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,California,CA,86699025,219423.0,283167.0,72203934,182738.0,64384808,210287.0,32494180,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Colorado,CO,11965375,207778.0,265943.0,10392018,180457.0,9364599,208138.0,4529548,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Connecticut,CT,8381735,235093.0,295355.0,7349027,206127.0,6591604,232275.0,3363017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
covid_usanewcolumn= ["state full", "state", "Total Doses Delivered", "18+ Doses Delivered per 100K", "Doses Administered per 100k by State where Administered", "People with at least One Dose by State of Residence"]

In [13]:
covid_usa_df = covid_usa_df[covid_usanewcolumn]
covid_usa_df

,state full,state,Total Doses Delivered,18+ Doses Delivered per 100K,Doses Administered per 100k by State where Administered,People with at least One Dose by State of Residence
0,United States,NaN,696801055,269806.0,167961.0,254750626
1,Alaska,AK,1464865,265585.0,151464.0,504539
2,Alabama,AL,9344040,244937.0,125156.0,3045967
3,Arkansas,AR,5921480,255495.0,136372.0,1991116
4,American Samoa,NaN,110410,352354.0,207200.0,44140
...,...,...,...,...,...,...
59,Vermont,VA,1711950,335687.0,217150.0,578479
60,Washington,WA,17012895,285843.0,183377.0,6097229
61,Wisconsin,WI,11169245,245163.0,170612.0,4150489
62,West Virginia,WV,3892945,271744.0,147858.0,1154492
63,Wyoming,WY,942285,211738.0,126997.0,336848

In [14]:
race_ethnicitynewcolumn = ["Date", "state", "Cases_Total", "black", "latin", "asian", "aian", "multiracial", "others"]

In [15]:
race_ethnicity_df = race_ethnicity_df[race_ethnicitynewcolumn]
race_ethnicity_df

,Date,state,Cases_Total,black,latin,asian,aian,multiracial,others
0,20210307,AK,59332.0,1499.0,NaN,2447.0,12238.0,4453.0,7130.0
1,20210307,AL,499819.0,82790.0,NaN,2273.0,NaN,NaN,38000.0
2,20210307,AR,324818.0,50842.0,NaN,2913.0,1070.0,1804.0,16491.0
3,20210307,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210307,AZ,826454.0,25775.0,244539.0,11921.0,40707.0,NaN,46964.0
...,...,...,...,...,...,...,...,...,...
5315,20200412,VT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5316,20200412,WA,10411.0,289.0,1180.0,451.0,41.0,112.0,104.0
5317,20200412,WI,3341.0,857.0,NaN,81.0,28.0,NaN,74.0
5318,20200412,WV,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5319,20200412,WY,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
race_ethnicity_df.head(30)

,Date,state,Cases_Total,black,latin,asian,aian,multiracial,others
0,20210307,AK,59332.0,1499.0,NaN,2447.0,12238.0,4453.0,7130.0
1,20210307,AL,499819.0,82790.0,NaN,2273.0,NaN,NaN,38000.0
2,20210307,AR,324818.0,50842.0,NaN,2913.0,1070.0,1804.0,16491.0
3,20210307,AS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20210307,AZ,826454.0,25775.0,244539.0,11921.0,40707.0,NaN,46964.0
5,20210307,CA,3501394.0,111279.0,1509103.0,186562.0,9025.0,42824.0,304477.0
6,20210307,CO,435762.0,12637.0,119224.0,6406.0,2527.0,6580.0,3312.0
7,20210307,CT,285330.0,19651.0,41523.0,3019.0,393.0,17642.0,15284.0
8,20210307,DC,41419.0,20164.0,NaN,914.0,86.0,NaN,9148.0
9,20210307,DE,88354.0,19768.0,14532.0,1842.0,NaN,NaN,5190.0
10,20210307,FL,1944995.0,237772.0,608165.0,NaN,NaN,NaN,141809.0
11,20210307,GA,1023487.0,216068.0,85460.0,17888.0,504.0,NaN,36133.0
12,20210307,GU,7749.0,NaN,NaN,2276.0,NaN,NaN,435.0
13,20210307,HI,27891.0,580.0,NaN,6068.0,NaN,NaN,1035.0
14,20210307,IA,339671.0,10190.0,NaN,3397.0,888.0,NaN,2379.0
15,20210307,ID,172931.0,1008.0,NaN,1219.0,2054.0,NaN,13191.0
16,20210307,IL,1198335.0,110701.0,219967.0,27074.0,1492.0,NaN,41054.0
17,20210307,IN,667262.0,44471.0,NaN,8987.0,NaN,NaN,72744.0
18,20210307,KS,295861.0,14330.0,NaN,5525.0,2074.0,NaN,12197.0
19,20210307,KY,410709.0,26883.0,NaN,3680.0,833.0,16253.0,NaN
20,20210307,LA,433785.0,136460.0,NaN,16684.0,1527.0,NaN,34552.0
21,20210307,MA,591356.0,35342.0,125873.0,16039.0,504.0,NaN,47605.0
22,20210307,MD,387319.0,112033.0,62261.0,8867.0,NaN,NaN,18321.0
23,20210307,ME,45794.0,2252.0,NaN,502.0,139.0,178.0,907.0
24,20210307,MI,656072.0,74321.0,NaN,10362.0,3596.0,25954.0,35465.0
25,20210307,MN,490011.0,39044.0,43792.0,21470.0,4634.0,8424.0,6470.0
26,20210307,MO,480643.0,42276.0,NaN,4317.0,942.0,108.0,63952.0
27,20210307,MP,145.0,NaN,NaN,NaN,NaN,NaN,NaN
28,20210307,MS,297581.0,97848.0,6525.0,1415.0,2215.0,NaN,10036.0
29,20210307,MT,100914.0,460.0,NaN,342.0,8156.0,NaN,6782.0

In [17]:
covid_usa_df.notnull()

,state full,state,Total Doses Delivered,18+ Doses Delivered per 100K,Doses Administered per 100k by State where Administered,People with at least One Dose by State of Residence
0,True,False,True,True,True,True
1,True,True,True,True,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,False,True,True,True,True
...,...,...,...,...,...,...
59,True,True,True,True,True,True
60,True,True,True,True,True,True
61,True,True,True,True,True,True
62,True,True,True,True,True,True
63,True,True,True,True,True,True

In [18]:
race_ethnicity_df.dtypes

Date             int64
state           object
Cases_Total    float64
black          float64
latin          float64
asian          float64
aian           float64
multiracial    float64
others         float64
dtype: object

In [19]:
covid_usa_df.dtypes

state full                                                  object
state                                                       object
Total Doses Delivered                                        int64
18+ Doses Delivered per 100K                               float64
Doses Administered per 100k by State where Administered    float64
People with at least One Dose by State of Residence          int64
dtype: object

In [20]:
# Combine the data into a single dataset.
covidanalysis_complete_df = pd.merge(covid_usa_df, race_ethnicity_df, on=["state", "state"])
covidanalysis_complete_df

,state full,state,Total Doses Delivered,18+ Doses Delivered per 100K,Doses Administered per 100k by State where Administered,People with at least One Dose by State of Residence,Date,Cases_Total,black,latin,asian,aian,multiracial,others
0,Alaska,AK,1464865,265585.0,151464.0,504539,20210307,59332.0,1499.0,NaN,2447.0,12238.0,4453.0,7130.0
1,Alaska,AK,1464865,265585.0,151464.0,504539,20210303,59030.0,1494.0,NaN,2437.0,12212.0,4445.0,7109.0
2,Alaska,AK,1464865,265585.0,151464.0,504539,20210228,58293.0,1481.0,NaN,2396.0,12117.0,4403.0,7033.0
3,Alaska,AK,1464865,265585.0,151464.0,504539,20210224,57988.0,1476.0,NaN,2368.0,12079.0,4389.0,7018.0
4,Alaska,AK,1464865,265585.0,151464.0,504539,20210221,57405.0,1470.0,NaN,2331.0,11990.0,4370.0,6962.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4840,Wyoming,WY,942285,211738.0,126997.0,336848,20200426,370.0,4.0,54.0,5.0,64.0,NaN,12.0
4841,Wyoming,WY,942285,211738.0,126997.0,336848,20200422,326.0,3.0,47.0,3.0,40.0,NaN,10.0
4842,Wyoming,WY,942285,211738.0,126997.0,336848,20200419,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4843,Wyoming,WY,942285,211738.0,126997.0,336848,20200415,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4844,Wyoming,WY,942285,211738.0,126997.0,336848,20200412,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
# Connect to database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/covid_analysis"
covidanalysis_complete_df.to_sql(name='covid_analysis', con=engine)

NameError: name 'engine' is not defined